<div class="container">
    <div class="login">
        <h2>Login</h2>
        <img src="https://cdn.discordapp.com/attachments/1172398225219657818/1172398231490134027/images.png?ex=65602bf0&is=654db6f0&hm=2129877c40c7bb8b833e565e88f5db30b69a524cebe25b5ae93010f7a73f0804&"
            alt="Icon">
        <mat-form-field class="Email">
            <mat-label>Email: </mat-label>
            <input matInput placeholder="usuario@email.com">
        </mat-form-field>
        <mat-form-field class="Password">
            <mat-label>Password: </mat-label>
            <input matInput placeholder="123456">
        </mat-form-field>
        <button mat-button (click)="login()">Login</button>

    </div>
</div>