<div class="body">
    <div class="container">
        <div class="StartNode">
            <h2>Start Place</h2>
            <mat-form-field class="InputStartNode">
                <mat-label>Address Number: </mat-label>
                <input matInput [(ngModel)]="startStreet.ADDRESS_NUMBER" placeholder="1833">
            </mat-form-field>
            <mat-form-field class="InputStartNode">
                <mat-label>Street Name: </mat-label>
                <input matInput [(ngModel)]="startStreet.STREET_NAME" placeholder="JACKSON" />
            </mat-form-field>
        </div>
        <div class="EndNode">
            <h2>End Place</h2>
            <mat-form-field class="InputEndNode">
                <mat-label>Address Number: </mat-label>
                <input matInput [(ngModel)]="endStreet.ADDRESS_NUMBER" placeholder="1217" />
            </mat-form-field>
            <mat-form-field class="InputEndNode">
                <mat-label>Street Name: </mat-label>
                <input matInput [(ngModel)]="endStreet.STREET_NAME" placeholder="MASSACHUSETTS" />
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="findShortestPath()">Buscar Ruta</button>
        <div class="ShortestPath">
            <h3>Ruta más corta:</h3>
            <ul>
              <li *ngFor="let node of shortestPath; let i = index">
                {{ node[0] }} - {{ node[1] }}
              </li>
            </ul>
          </div>
          
          
          
    </div>
</div>

