<div class="body">
    <div class="container">
        <div class="StartNode">
            <h2>Start Place</h2>
            <mat-form-field class="InputStartNode">
                <mat-label>Address Number: </mat-label>
                <input matInput placeholder="1833" >
            </mat-form-field>
            <mat-form-field class="InputStartNode">
                <mat-label>Street Name: </mat-label>
                <input matInput placeholder="JACKSON" >
            </mat-form-field>
        </div>
        <div class="EndNode">
            <h2>End Place</h2>
            <mat-form-field class="InputEndNode">
                <mat-label>Address Number: </mat-label>
                <input matInput placeholder="1217" >
            </mat-form-field>
            <mat-form-field class="InputEndNode">
                <mat-label>Street Name: </mat-label>
                <input matInput placeholder="MASSACHUSETTS" >
            </mat-form-field>
        </div>

        <button mat-button>Find Shortest Path</button>
        <div class="ShortestPath">
            <h2>Shortest Path: </h2>

        </div>
    </div>
</div>

